body {
	margin: 0 auto;
	font-family: Arial;
}
.game-area {
	margin:0 auto;
	text-align: center;
	padding-top: 20px; 
}

.game-options select, .game-options input  {
	border: 1px solid #333;
	padding: 10px;
	margin-right: 10px;
}
.game-board {
	margin-top: 50px;
	padding: 10px;
}
.grid-box {
	font-size: 40px;
	padding: 15px 25px;
	width: 90px;
	background-color: #FCFCFC;
}

.green-player {
	font-size: 40px;
	padding: 15px 25px;
	width: 90px;
	background-color: green;
	color: #FFF;
}
.red-player {
	font-size: 40px;
	padding: 15px 25px;
	width: 90px;
	background-color: red;
	color: #FFF;
}