body {
	margin: 0 auto;
	font-family: Arial;
}

input::-moz-focus-inner { 
  border: 0; 
}

a {
   outline: 0;
}

.game-area {
	margin:0 auto;
	text-align: center;
	padding-top: 20px; 
}

.game-options select, .game-options input  {
	border: 1px solid #333;
	padding: 10px;
	margin-right: 10px;
	outline: none;
}
.game-board {
	margin-top: 50px;
	padding: 10px;
}

.grid-box, .green-player, .red-player {
	font-size: 40px;
	padding: 15px 25px;
	width: 90px;
	background-color: #FCFCFC;
	outline: none;
}
.green-player {
	background-color: green;
	color: #FFF;
}
.red-player {
	background-color: red;
	color: #FFF;
}
